<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Awesome Bands</title>
    <meta name="description" content="A leaderboard of the most awesome bands of all time." />
    <meta name="author" content="Mass Relevance" />
    <meta name="viewport" content="width=device-width" />
    <base target="_blank" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body style="background-color:#FFFFFF;">
    <div id="Table_01">
      <div id="AwesomeBands-01_">
        <img id="AwesomeBands_01" src="images/AwesomeBands_01.png" width="800" height="213" alt="" />
      </div>
      <div id="AwesomeBands-02_">
        <img id="AwesomeBands_02" src="images/AwesomeBands_02.png" width="800" height="22" alt="" />
      </div>
      <div id="AwesomeBands-03_">
        <img id="AwesomeBands_03" src="images/AwesomeBands_03.png" width="196" height="365" alt="" />
      </div>
      <div id="band-name1_">
        <img id="image" src="images/band_name1.png"/>
        <p id="text1">Hoobastank</p>
      </div>
      <div id="AwesomeBands-05_">
        <img id="AwesomeBands_05" src="images/AwesomeBands_05.png" width="112" height="365" alt="" />
      </div>
      <div id="band-tweet1_">
        <img id="image" src="images/band_tweet1.png"/>
        <p id="tweet1">1329 Mentions</p>
      </div>
      <div id="AwesomeBands-07_">
        <img id="AwesomeBands_07" src="images/AwesomeBands_07.png" width="197" height="365" alt="" />
      </div>
      <div id="band-tweet2_">
        <img id="image" src="images/band_tweet2.png" width="121" height="42" alt="" />
        <p id="tweet2">934 Mentions</p>
      </div>
      <div id="band-name2_">
        <img id="image" src="images/band_name2.png"/>
        <p id="text2">Creed</p>
      </div>
      <div id="band-name3_">
        <img id="image" src="images/band_name3.png"/>
        <p id="text3">Puddle of Mudd</p>
      </div>
      <div id="band-tweet3_">
        <img id="image" src="images/band_tweet3.png"/>
        <p id="tweet3">853 Mentions</p>
      </div>
      <div id="band-name4_">
        <img id="image" src="images/band_name4.png"/>
        <p id="text4">Godsmack</p>
      </div>
      <div id="band-tweet4_">
        <img id="image" src="images/band_tweet4.png"/>
        <p id="tweet4">502 Mentions</p>
      </div>
      <div id="band-name5_">
        <img id="image" src="images/band_name5.png"/>
        <p id="text5">Insane Clown Posse</p>
      </div>
      <div id="band-tweet5_">
        <img id="image" src="images/band_tweet5.png"/>
        <p id="tweet5">301 Mentions</p>
      </div>
      <div id="AwesomeBands-16_">
        <img id="AwesomeBands_16" src="images/AwesomeBands_16.png" width="174" height="148" alt="" />
      </div>
      <div id="AwesomeBands-17_">
        <img id="AwesomeBands_17" src="images/AwesomeBands_17.png" width="121" height="148" alt="" />
      </div>
    </div>
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/lib.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>